<div class="container">
  <h1>Anagram Game</h1>



  <form name="input" action="/user_word" method="post">
    <input type="text" name ="word">
    <input type="submit" value="Submit">
  </form>
</div>
